<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="AuraCode" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="../estilos/estilos.css">
    <title>AuraCode-Contacto</title>
</head>
<body>
    <header>
        <nav>
            <div id="menu">
                <span>
                    <a href="/index.html" class="tres" >Inicio</a>
                </span>
                <span>
                    <a href="productos.html" class="tres">Productos</a>
                </span>
                <span>
                    <a href="presupuestos.html" class="tres der">Presupuesto</a>
                </span>
                <span>
                    <a href="#" class="contac active">Contacto</a>
                </span>
            </div>
        </nav>
        <div>
            <a href="/index.html"><img id="img_header" src="/images/logocompleto.jpg" alt="Logo" title="Logo" width="250px" height="100px"></a>
        </div>
    </header>
    <section>
        <div id="div_principal">
            <article>
                <header class="conexion">
                    <h1> Contacto </h1>
                    <p> Cuéntame tu sueño y diseñemos el camino para lograrlo. </p>
                </header>
                <div class="contactanos"> 
                    <span class="derecha">
                        <form id="formudos" name="formudos" action="https://formsubmit.co/brayan.dominguezp@gmail.com" method="post" target="_self">
                            <ul class="ulist">
                                <ol>
                                    <h2> Contáctanos </h2>
                                </ol>
                                <li>
                                    <input type="text" id="name" name="name" placeholder="Nombre completo " pattern="[A-Z a-z]{3,25}" title="Escriba solo letras entre 3 y 25 caracteres" required>
                                </li>
                                <li>
                                    <input type="text" id="email" name="email" placeholder=" Correo electronico" pattern="[a-zA-Z0-9_-.]+@[a-z0-9.-_]+\.[a-z]{2,4}" title="Escriba su correo electronico" required>
                                </li>
                                <li>
                                    <input type="text" id="asunto" name="asunto" placeholder=" Asunto (opcional) " pattern="[A-Z a-z]{3,25}" title="Escriba el asunto " required>
                                </li>
                                <li>
                                    <textarea rows=8 id="mesagge" name="mesagge" placeholder="Escriba aqui su mensaje "></textarea>
                                </li>
                                <!-- Checkbox de Política de Privacidad -->
                                <div class="privacidad">
                                    <input type="checkbox" id="privacidad" name="privacidad" required>
                                    <label for="privacidad">
                                    Acepto la <a href="/politica-privacidad" target="_blank">Política de Privacidad</a>
                                    </label>
                                </div>
                                <li>
                                    <button type="submit" > Enviar mensaje </button>
                                </li>
                            </ul>
                        </form>
                    </span>
                    <div class="izquierda">
                        <h2> Informacion de contacto </h2>
                        <img src="/images/logocompleto.jpg" alt="logo" id="logo-central" width="200px">
                        <h2> ¿Tienes una idea en mente?</h2>
                        <p> Escribenos y te responderemos lo antes posible. </p>
                        <div class="logos-cen">
                            <a href="https://www.whatsapp.com"><img src="/images/viber.png" alt="telefono" class="icono" width="20px" height="20px"> + 34 613 669 341 </a><br>
                            <a href="https://www.gmail.com"><img src="/images/correo-electronico.png" class="icono"  alt="correo" width="20px" height="20px"> Brayan.dominguezp@gmail.com </a><br>
                            <a href="https://maps.google.com"><img src="/images/ubicacion.png" class="icono"  alt="ubicacion"  width="20px" height="20px"> Calle San Fernando 49 </a>
                        </div>
                        <div class="redes-min">
                            <h2> Siguenos en</h2>
                            <div>
                                <a href="https://www.instagram.com"><img src="/images/instagram.jpeg" alt="Instagram" width="40px" height="40px"></a>
                                <a href="https://www.facebook.com"><img src="/images/facebook.jpeg" alt="Facebook" width="40px" height="40px"></a>
                                <a href="https://www.x.com"><img src="/images/x.png" alt="whatsapp" width="40px" height="40px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <br>
            <article>
                <header>
                    <h1> Nuestra ubicación</h1>
                </header>
                <span>
                    <div class="maps">
                        <img id="img_cen" src="/images/googlemaps.jpg" width="750px" height="400px" alt="ubicacion">
                        <h2> Calle San Fernando 49, 03001 Alicante</h2>
                    </div>
                </span>
            </article>
        </div>
    </section>
    <footer>
        <span>
            <div id="div_footer">
                <a href="/index.html"><img class="logofooter" src="/images/logo.jpg" alt="Logo" title="Logo" width="100px" height="100px"></a>
                <a href="https://www.x.com"><img src="/images/x.png" class="redes" alt="whatsapp" width="40px" height="40px"></a>
                <a href="https://www.facebook.com"><img src="/images/facebook.jpeg" class="redes" alt="Facebook" width="40px" height="40px"></a>
                <a href="https://www.instagram.com"><img src="/images/instagram.jpeg" class="redes" alt="Instagram" width="40px" height="40px"></a>
                <div id="ubi">
                    <a href="https://www.whatsapp.com"><img src="/images/viber.png" alt="telefono" width="20px" height="20px"> + 34 613 669 341 </a><br>
                    <a href="https://www.gmail.com"><img src="/images/correo-electronico.png" alt="correo" width="20px" height="20px"> Brayan.dominguezp@gmail.com </a><br>
                    <a href="https://maps.google.com"><img src="/images/ubicacion.png" alt="ubicacion" width="20px" height="20px"> Calle San Fernando 49 </a>
                </div>
            </div>
            <div>
                <p class="linea"> © 2026 AuraCode | Todos los derechos reservados | Construyendo el futuro bit a bit.</p>
            </div>
        </span>
    </footer>
</body>
</html>
